* {
  padding: 0;
  margin: 0;
}

.attribution {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.attribution a {
  color: #fead9a;
  font-weight: bold;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  line-height: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* container */

.container {
  background-color: hsl(216, 50%, 16%);
  width: 16rem;
  padding: 0.8em;
  box-sizing: border-box;
  box-shadow: 0px 0px 20.9px rgba(0, 0, 0, 0.075), 0px 0px 167px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  border-radius: 0.6rem;
}

/* image */

.image {
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
}

.image img {
  width: 100%;
  display: block;
}

.image div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.image:hover div {
  background-image: url(components/images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsla(178, 100%, 50%, 0.2);
  cursor: pointer;
  transition: 0.3s;
}

/* text area */

.text-area .text-title {
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0.9rem 0;
}

.text-area .text-title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.text-area .text-paragraph {
  font-size: 0.75em;
  font-weight: 300;
  color: rgb(124, 149, 181);
  margin-bottom: 15px;
}

/* icon */

.icon,
.icon-eth,
.icon-clock {
  display: flex;
}

.icon {
  font-size: 0.75em;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid hsla(215, 31%, 82%, 0.1);
}

.icon-eth {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.icon-clock {
  color: rgb(124, 149, 181);
}

.icon svg {
  margin-right: 0.3rem;
}

/* profile */

.profile {
  width: 100%;
  margin: 0.9rem 0 0.3rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.profile img {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 0.9rem;
}

.profile p {
  font-size: 0.7em;
  color: rgb(124, 149, 181);
}
